@font-face {
    src: url(../fonts/Quickie.tff);
    font-family: Quickie;
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

html {
    height: 100%;
    margin: 0;
}

/* Ben Davis Header */
.header {
    transition-property: all;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 1000px;
    font-family: Quickie;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.30em;
    color: #000000;
}

.projectsheader {
    background-image: url(../images/Paint1.jpg);
    background-size: cover;
    transition-property: all;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 150px;
    font-family: Quickie;
    font-style: normal;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.30em;
    color: #FFFFFF;
}

.galleryheader {
    background-image: url(../images/Portriai_Of_An_Artist_On_Roller_Skates.jpg);
    background-size: cover;
    transition-property: all;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 150px;
    font-family: Quickie;
    font-style: normal;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.30em;
    color: #FFFFFF;
}

.aboutheader {
    background-image: url(../images/Paint1.jpg);
    background-size: cover;
    transition-property: all;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 150px;
    font-family: Quickie;
    font-style: normal;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.30em;
    color: #FFFFFF;
}

.shopheader {
    background-image: url(../images/Once_In_A__Blue_Begoinia_Moon.jpg);
    background-size: cover;
    transition-property: all;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 150px;
    font-family: Quickie;
    font-style: normal;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.30em;
    color: #FFFFFF;
}


h1 {
    padding: 0px;
    margin-bottom: 10px;
}

h6 {
    padding: 50px;
    text-decoration-color: antiquewhite;
}

/* Parallax */
.bgimg {
    min-height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.bgimg-1 {
    background-image: url("../images/bushes.png"), url("../images/Somewhere_Under_The_Rainbow_HOMEPAGE.jpg");
    background-attachment: fixed, scroll;
}

.scroll-down {
    position: center;
	left: 50%;
	bottom: 10px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 40px;
  height: 40px;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

/* Navigation Bar */
#nav {
    overflow: hidden;
    justify-content: center;
    text-align: center;
    background: #F7B76D;
    padding: 15px;
    width: 100%;
    display: inline-block;

}

#nav a {
    width: 100px;
    font-size: 20px;
    font-family: Quickie;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    padding: 30px;
}

#nav a:hover {
    background-color: #000000;
    text-decoration: underline;
    color: #FFFFFF;
    transition: 0.6s;
}

.navstick {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Sidebar Menu (Hamburger) */
.sidebar {
    font-family: Quickie;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F7B76D;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.6s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: #000000;
    display: block;
    transition: 0.10s;
}

.sidebar a:hover {
    color: #FFFFFF;
    font-weight: bold;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    display: none;
    font-family: Quickie;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #F7B76D;
    color: #000000;
    width: 100%;
    padding: 13px 15px;
    border: none;
}

.openbtn:hover {
    color: #FFFFFF;
    background-color: #262626;
    transition: 0.6s;
}

/* Home Page Project Tiles */
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
}

.projtitle {
    font-family: Quickie;
    margin: auto;
    text-align: center;
    width: 150px;
    background: #F7B76B;
    padding: 9px;

}

.section {
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
    flex: 1;
    margin: 15px;
    padding: 50px;
    border-radius: 5px;
}

.button {
    background-color: #FFFFFF;
    border-radius: 20px;
    color: black;
    text-align: center;
    display: inline-block;
    margin: 8px 10px;
    cursor: pointer;
}

.button a {
    padding: 8px 50px;
    color: #000000;
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

.button a:hover {
    border-radius: 20px;
    background-color: #000000;
    color: #FFFFFF;
    transition: 0.6s;
}

/* About Page */
.aboutpara {
    padding: 20px 30px;
    color: #F7B76D;
    font-family: inherit;
    font-size: 25px;
}

.winery {
    display: inline-block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}

.contactpara {
    color: #F7B76D;
    font-family: inherit;
    font-size: 15px;
}

/* Sideshow: Main Page */
.mySlides {
    display: none;
}

img {
    /*    vertical-align: middle;*/
}

.mySlides img {
    width: 100%
}

.carousel-box {
    max-width: 70%;
    position: relative;
    margin: auto;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}

.carousel-box2 {
    max-width: 70%;
    position: relative;
    margin: auto;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    background-color: #000000;
    padding: 19px;
    color: #F7B76D;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.58);
}

.text {
    color: #F7B76D;
    font-family: inherit;
    font-size: 30px;
    margin-top: 5px;
    padding: 8px, 12px;
/*    background-color: rgba(0, 0, 0, 0.6);*/
    position: absolute;
/*    bottom: 9px;*/
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FFFEF1;
    border-radius: 50%;
    margin-top: 26px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #F7B76D;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Shop Page */
.shoparea {
    padding: 10px;
    margin: 10px;
}
.grid-container {
    background-color: #000000;
    text-align: center;
    font-size: 20px;
    color: #F7B76D;
    padding: 10px;
}
.grid-container > div {
  background-color: #000000;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}

.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Projects Page*/
.container1 {
    margin: 90px;
}
    

.title {
    color: #F7B76D;
    font-size: 300%;

}
.text1 {
    color: #F7B76D;
    font-size: 18pt;
    max-width: 100%;
   
}

/* Footer*/
.footer1 {
    position:static;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: #F7B76D;
    text-align: center;
    padding-bottom: 2px;
}
.footertext{
    padding-top: 5px;
    font-size: 20px; 
    overflow: 10%;
}
.smalltext{
    background-color: #F7B76D;
    font-size: 25px;
}
.lowerfooter{
    background-color: rgba(245, 159, 61, 1);
    text-align: center;
    padding: 2px;
    font-size: 15px;
}

/* Media Queries*/
@media screen and (max-width: 700px) {
    #nav {
        display: none;
    }

    .openbtn {
        display: flex;
    }

    .bgimg-1 {
        background-attachment: scroll, scroll;
    }

    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    .column {
        width: 100%;
    }

    .grid-container {
        grid-template-areas:
            'header header header header header header'
            'left left left left left left'
            'middle middle middle middle middle middle'
            'right right right right right right'
            'footer footer footer footer footer footer';
    }
}
